/**
 * Found at
 *    https://codepen.io/Cheesetoast/pen/KFAaq
 *
 * @modified 2017-07-24 By Ikaros Kappler.
 **/

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body { 
        font-family: Inconsolata, Monospace, 'Open Sans', sans-serif;
    	font-size : 11pt;
        color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: calc( 100% - 40px ); /* 960px; */
	margin: 20px auto;
}
header {
	height: 100px;
	padding: 0 15px;
}
#content {
	width: 240px; /* 290 */
	float: left;
	padding: 5px 15px;
}

#middle {
        width: calc( 100% - 566px ); /* 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 220px; /* 270 */
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

        body {
	        font-size : 10pt;
        }
    
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 21%;
		padding: 1% 4%;
	}
	#middle {
		width: 61%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

        body {
	        font-size : 9pt;
        }

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
	    /*
		width: auto;
		float: none;
	   */
	    display : none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

        body {
	        font-size : 8pt;
        }

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}

/* Some code for development */
/*
#content {
	background : #f8f8f8;
}
#sidebar {
	background : #f0efef;
}
footer {
        background : #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
        border: solid 1px #ccc;
}
*/

