{% extends "base.blade.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
  .important { color: #336699; }
</style>
{% endblock %}

{% block menu_headline %}
&nbsp;
{% endblock %}

{% block content %}

<div id="i2banim-container">
  <img id="icon_blank_final" src="/img/icon_blank_cropped.png" width="136" height="200" style="visibility: hidden;" />
  <div id="i2banim-pixel-container"></div>
</div>

<div id="i2ba_pixel_template" width="16" height="16" class="no-display"></div>
{% endblock %}
